<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZuBlog: Account</title>
    <link rel="stylesheet" href="/css/account.min.css">
    {{>tabIcon}}
</head>

<body>
    {{>header}}

    <div class="account-card-wrapper">
        {{>account_card}}
    </div>
    <script src="/js/utils.js"></script>
</body>

</html>