<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZuBlog: Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css" />
    {{>tabIcon}}
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form class="form" action="/forgotpassword" method="POST">
                <svg class="logo -m" id="ZuBlog" viewBox="0 0 102.83 57.28">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #c9c9c9;
                            }

                            .cls-2 {
                                fill: #78c383;
                            }

                            .cls-3 {
                                fill: #231f20;
                            }

                            .cls-4 {
                                fill: #3bb26c;
                            }

                            .cls-5 {
                                fill: #39b16c;
                            }

                            .cls-6 {
                                fill: #010101;
                            }
                        </style>
                    </defs>
                    <title>ZuBlog</title>
                    <path class="cls-1"
                        d="M88.07,56.68a7.71,7.71,0,0,1-.53,2.94,5.5,5.5,0,0,1-1.63,2.2,7.51,7.51,0,0,1-2.78,1.38,15,15,0,0,1-4,.47l-1.76,0-2.08-.07q-1.07,0-2.09-.12l-1.78-.16V38.72q1.44-.16,3.29-.24t3.48-.08a17.89,17.89,0,0,1,3.61.34,8.56,8.56,0,0,1,2.79,1.05,5,5,0,0,1,1.78,1.83A5.43,5.43,0,0,1,87,44.3a6.39,6.39,0,0,1-.35,2.22,5.78,5.78,0,0,1-.94,1.67,4.83,4.83,0,0,1-1.38,1.16,6.7,6.7,0,0,1-1.64.66v.08a7.65,7.65,0,0,1,2.45.92,6,6,0,0,1,1.67,1.47,5.77,5.77,0,0,1,1,1.91A8.07,8.07,0,0,1,88.07,56.68ZM82,44.87a3.57,3.57,0,0,0-1.21-3.09,5.72,5.72,0,0,0-3.4-.88H76.8l-.56,0v8h1.6a8.84,8.84,0,0,0,1.68-.16,4.84,4.84,0,0,0,1.3-.4,2.09,2.09,0,0,0,.83-1,4.6,4.6,0,0,0,.28-1A8.94,8.94,0,0,0,82,44.87Zm1.09,11.5a4.68,4.68,0,0,0-1.37-3.66,5.78,5.78,0,0,0-4-1.24H76.24V61l.37,0,.31,0H78c.29,0,.61,0,1,0s.7-.06,1-.11a8.19,8.19,0,0,0,.92-.17,2.93,2.93,0,0,0,.66-.24,3.49,3.49,0,0,0,.52-.43,2.75,2.75,0,0,0,.5-.74A4.73,4.73,0,0,0,83,58.16,9.87,9.87,0,0,0,83.13,56.37Z"
                        transform="translate(-34.63 -17.68)" />
                    <path class="cls-1" d="M96.7,63.39H91.95V36.16l4.75-1Z" transform="translate(-34.63 -17.68)" />
                    <path class="cls-1"
                        d="M109.25,63.72a8.34,8.34,0,0,1-6.23-2.2q-2.16-2.2-2.16-6.43a11.46,11.46,0,0,1,.53-3.6A7.17,7.17,0,0,1,103,48.76,7,7,0,0,1,105.62,47a10.07,10.07,0,0,1,3.64-.61q4.15,0,6.27,2.24A8.91,8.91,0,0,1,117.64,55a11.56,11.56,0,0,1-.53,3.63,7.17,7.17,0,0,1-1.59,2.72,7,7,0,0,1-2.63,1.73A10.07,10.07,0,0,1,109.25,63.72Zm-3.45-8.66a11.06,11.06,0,0,0,.79,4.8,2.73,2.73,0,0,0,2.63,1.54,7,7,0,0,0,1.33-.12,3.19,3.19,0,0,0,1-.36,1.17,1.17,0,0,0,.47-.66,7.66,7.66,0,0,0,.35-1.31,15.1,15.1,0,0,0,.22-1.78q.07-1,.07-2.08a10.93,10.93,0,0,0-.8-4.76,2.7,2.7,0,0,0-2.59-1.58,6.54,6.54,0,0,0-1.33.13,3.62,3.62,0,0,0-1.14.43,1.33,1.33,0,0,0-.47.67,6.11,6.11,0,0,0-.33,1.29q-.12.78-.18,1.75T105.81,55.06Z"
                        transform="translate(-34.63 -17.68)" />
                    <path class="cls-1"
                        d="M126.34,75a11.4,11.4,0,0,1-2.81-.3,5.85,5.85,0,0,1-1.87-.79,3,3,0,0,1-1-1.15,3.13,3.13,0,0,1-.31-1.37,3,3,0,0,1,.87-2.17,9.51,9.51,0,0,1,2.28-1.63l1.11.3q-.14.54-.2,1a6.08,6.08,0,0,0-.07,1,2.28,2.28,0,0,0,.77,1.81,3.4,3.4,0,0,0,2.29.67,12.06,12.06,0,0,0,1.4-.08q.69-.08,1.34-.22t1.21-.31a4.85,4.85,0,0,0,.94-.39,1.46,1.46,0,0,0,.69-1,7,7,0,0,0,.15-1.56q0-1.83-3.74-1.83l-2.66,0a8.25,8.25,0,0,1-4.11-.82,2.93,2.93,0,0,1-1.29-2.71,3.08,3.08,0,0,1,.27-1.24,6.08,6.08,0,0,1,.69-1.19,8.47,8.47,0,0,1,.92-1.05l.94-.89a5.89,5.89,0,0,1-1.36-.88,6.16,6.16,0,0,1-1.91-2.93,6.7,6.7,0,0,1-.29-2,6.85,6.85,0,0,1,.56-2.83,6.09,6.09,0,0,1,1.53-2.1A6.78,6.78,0,0,1,125,46.89a8.76,8.76,0,0,1,2.88-.46,17.51,17.51,0,0,1,2.31.14,11.86,11.86,0,0,1,2,.43q1.28-.05,2.73-.2t2.54-.36L137,48.59a6.39,6.39,0,0,1-1.36.3,11.81,11.81,0,0,1-1.49.11,11.83,11.83,0,0,1,.66,1.52,7.33,7.33,0,0,1,.37,2.52,6.75,6.75,0,0,1-.54,2.78,5.71,5.71,0,0,1-1.51,2,6.65,6.65,0,0,1-2.29,1.25,9.37,9.37,0,0,1-2.9.43h-.57l-.65,0c-.22,0-.42,0-.61-.05a3.68,3.68,0,0,1-.47-.09,6.48,6.48,0,0,0-.35.8,2.74,2.74,0,0,0-.19,1,.78.78,0,0,0,.56.79,6.77,6.77,0,0,0,2,.2h3.74a13.08,13.08,0,0,1,2.88.27,4.63,4.63,0,0,1,1.88.85,3.13,3.13,0,0,1,1,1.46,6.53,6.53,0,0,1,.3,2.09,5.92,5.92,0,0,1-.83,2.93,8.84,8.84,0,0,1-2.32,2.63,12.64,12.64,0,0,1-3.53,1.89A13.11,13.11,0,0,1,126.34,75ZM128,57.33a4.5,4.5,0,0,0,1.06-.11,2.78,2.78,0,0,0,.79-.32q.35-.22.58-1.27a12.74,12.74,0,0,0,.23-2.67,8.35,8.35,0,0,0-.16-1.7A4.27,4.27,0,0,0,130,49.9a2.75,2.75,0,0,0-.85-.9,2.18,2.18,0,0,0-1.21-.32,4.4,4.4,0,0,0-1,.09,2.51,2.51,0,0,0-.79.34,2,2,0,0,0-.6,1.27,13.43,13.43,0,0,0-.22,2.7,7.24,7.24,0,0,0,.18,1.63,5.25,5.25,0,0,0,.5,1.36,2.6,2.6,0,0,0,.83.93A2,2,0,0,0,128,57.33Z"
                        transform="translate(-34.63 -17.68)" />
                    <rect class="cls-2" x="22.33" y="31.76" width="6.42" height="5.57" />
                    <path class="cls-3" d="M63.48,55.11H56.86V49.34h6.62Zm-6.42-.2h6.22V49.54H57.06Z"
                        transform="translate(-34.63 -17.68)" />
                    <polygon class="cls-4"
                        points="28.91 19.88 28.91 31.57 28.91 31.66 28.91 31.76 28.91 37.32 31.6 37.32 34.23 34.55 34.23 31.76 34.23 31.66 34.23 31.57 34.23 21.96 32.48 19.88 28.91 19.88" />
                    <path class="cls-3"
                        d="M66.27,55.11H63.44V37.46h3.72l0,0L69,39.61V52.27l0,0Zm-2.63-.2h2.55l2.58-2.71V39.68l-1.7-2H63.64Z"
                        transform="translate(-34.63 -17.68)" />
                    <polygon class="cls-5"
                        points="17 31.57 17 31.66 17 31.76 17 34.22 19.96 37.32 22.17 37.32 22.17 31.76 22.17 31.66 22.17 31.57 22.17 24.3 17 30.55 17 31.57" />
                    <path class="cls-3"
                        d="M56.9,55.11H54.55l0,0-3-3.13V48.2l0,0L56.9,41.7Zm-2.27-.2h2.07V42.26l-5,6v3.59Z"
                        transform="translate(-34.63 -17.68)" />
                    <path class="cls-6"
                        d="M68.94,39.47l-.08-.09-1.53-1.82-.08-.09-.08-.09H63.38V49.25H57V41.53l-.08.09-.08.09L51.64,48l-.08.09-.08.09V52l.08.08.08.08L54.36,55l.09.09.09.09H66.29l.09-.09.09-.09,2.4-2.53.08-.08.08-.08V39.57ZM56.81,49.25V55H54.59l-3-3.1V48.24L56.81,42ZM63.38,55H57V49.44h6.42Zm5.48-5.75v3L66.23,55H63.54V37.56h3.57l1.76,2.08Z"
                        transform="translate(-34.63 -17.68)" />
                    <path class="cls-3"
                        d="M66.31,55.24H54.51l-.19-.2-2.89-3V48.14l.17-.2L57,41.39V49.2h6.32V37.33H67.2l.17.2,1.7,2V52.34l-.17.18Zm-11.75-.1H66.27L69,52.3V39.59l-1.82-2.16H63.43V49.3H56.91V41.67l-.07.08-5.31,6.43V52Zm11.7-.09H63.49V37.51h3.64v0l1.77,2.09V52.25h0ZM63.59,55h2.62l2.61-2.74V39.66l-1.73-2h-3.5Zm-.16.1H56.91V49.39h6.52ZM57,55h6.32V49.49H57Zm-.16.1H54.57v0l-3-3.11V48.22h0l5.26-6.36ZM54.62,55h2.14V42.12l-5.07,6.14v3.63Z"
                        transform="translate(-34.63 -17.68)" />
                    <polygon class="cls-5" points="30.37 0.35 30.33 0.26 2.96 0.26 2.96 8.43 23.78 8.43 30.37 0.35" />
                    <polygon class="cls-5" points="34.29 45.72 34.29 37.56 11.27 37.56 4.6 45.72 34.29 45.72" />
                    <polygon class="cls-2" points="34.77 8.52 34.66 8.52 34.71 8.6 34.77 8.52" />
                    <polygon class="cls-2"
                        points="11.05 37.56 11.13 37.47 11.21 37.37 34.59 8.74 34.53 8.61 34.48 8.52 34.43 8.43 30.46 0.52 24 8.43 23.92 8.52 23.84 8.61 0.35 37.37 0.28 37.46 0.28 37.47 0.32 37.56 0.34 37.56 4.4 45.71 11.05 37.56" />
                    <path class="cls-6"
                        d="M69.44,26.29h-.1l0-.08,0-.09-4-8,.1-.12h-.11l.08-.09h-.11l.08-.09H37.44v8.54H58.26L34.84,55l-.07.09,0,.05,0,0,0,0,0,0,0,0,0,0h0l0,0,1.72,3.46,2.32,4.66,0,.09H69V55.15H46l.08-.09L69.31,26.59l.11-.14,0-.08ZM37.6,17.94H65L65,18l-6.59,8.07H37.6ZM35,55.24h0l0-.09h0l.07-.09L58.48,26.29l.08-.09.08-.09,6.46-7.91,4,7.91,0,.09,0,.09.07.13L45.84,55.06l-.08.09-.08.09L39,63.39Zm33.94,0v8.16H39.24l6.67-8.16Z"
                        transform="translate(-34.63 -17.68)" />
                    <path class="cls-3"
                        d="M69.07,63.58H38.84l-.07-.13-4-8h0l-.07-.16h0l-.08-.17.14-.18L58.1,26.37H37.37V17.68h28l-.08.09h.11l-.08.09h.11l-.16.2,4.1,8.15h.21l-.13.16,0,.08-.14.17L46.14,55.07H69.07Zm-30-.15h0l.05-.07L69.33,26.44l0-.08h0l-.11-.21-4.07-8.09,0,0h-.06v0l0,0-6.62,8.1H37.52V17.87H65l0,0,.05-.06H37.52v8.39h20.9l-.1.12L34.81,55.12l0,0v0l0,0,.07-.09L65.11,18.06l.05.1,4.16,8.27,0,0Zm-.17,0h0l-4-8.11h0v0h0Zm.46-.09H68.85v-8H45.94ZM35,55.17h0l0,0,4,8L69.14,26.41,69,26.14l-3.92-7.8L35,55.16ZM37.67,26h20.7l6.54-8H37.67ZM65,17.93l0,.05,0-.05Z"
                        transform="translate(-34.63 -17.68)" />
                </svg>
                <h1>Recover Account</h1>
                <p class="info-m">Please enter the username and the email used for your account.</p>

                <div class="error-box {{displayClass}}">
                    <div class="error-msg">{{msg}}</div>
                </div>
                <input name="username" type="text" placeholder="Username" value="{{user.username}}" required />
                <input name="email" type="email" placeholder="Email" value="{{user.email}}" required />
                <br />
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    {{!-- <img class="logo" src="/img/zublog-bordered.svg" alt="" /> --}}
                    <svg class="logo" id="ZuBlog" viewBox="0 0 102.83 57.28">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #c9c9c9;
                                }

                                .cls-2 {
                                    fill: #78c383;
                                }

                                .cls-3 {
                                    fill: #231f20;
                                }

                                .cls-4 {
                                    fill: #3bb26c;
                                }

                                .cls-5 {
                                    fill: #39b16c;
                                }

                                .cls-6 {
                                    fill: #010101;
                                }
                            </style>
                        </defs>
                        <title>ZuBlog</title>
                        <path class="cls-1"
                            d="M88.07,56.68a7.71,7.71,0,0,1-.53,2.94,5.5,5.5,0,0,1-1.63,2.2,7.51,7.51,0,0,1-2.78,1.38,15,15,0,0,1-4,.47l-1.76,0-2.08-.07q-1.07,0-2.09-.12l-1.78-.16V38.72q1.44-.16,3.29-.24t3.48-.08a17.89,17.89,0,0,1,3.61.34,8.56,8.56,0,0,1,2.79,1.05,5,5,0,0,1,1.78,1.83A5.43,5.43,0,0,1,87,44.3a6.39,6.39,0,0,1-.35,2.22,5.78,5.78,0,0,1-.94,1.67,4.83,4.83,0,0,1-1.38,1.16,6.7,6.7,0,0,1-1.64.66v.08a7.65,7.65,0,0,1,2.45.92,6,6,0,0,1,1.67,1.47,5.77,5.77,0,0,1,1,1.91A8.07,8.07,0,0,1,88.07,56.68ZM82,44.87a3.57,3.57,0,0,0-1.21-3.09,5.72,5.72,0,0,0-3.4-.88H76.8l-.56,0v8h1.6a8.84,8.84,0,0,0,1.68-.16,4.84,4.84,0,0,0,1.3-.4,2.09,2.09,0,0,0,.83-1,4.6,4.6,0,0,0,.28-1A8.94,8.94,0,0,0,82,44.87Zm1.09,11.5a4.68,4.68,0,0,0-1.37-3.66,5.78,5.78,0,0,0-4-1.24H76.24V61l.37,0,.31,0H78c.29,0,.61,0,1,0s.7-.06,1-.11a8.19,8.19,0,0,0,.92-.17,2.93,2.93,0,0,0,.66-.24,3.49,3.49,0,0,0,.52-.43,2.75,2.75,0,0,0,.5-.74A4.73,4.73,0,0,0,83,58.16,9.87,9.87,0,0,0,83.13,56.37Z"
                            transform="translate(-34.63 -17.68)" />
                        <path class="cls-1" d="M96.7,63.39H91.95V36.16l4.75-1Z" transform="translate(-34.63 -17.68)" />
                        <path class="cls-1"
                            d="M109.25,63.72a8.34,8.34,0,0,1-6.23-2.2q-2.16-2.2-2.16-6.43a11.46,11.46,0,0,1,.53-3.6A7.17,7.17,0,0,1,103,48.76,7,7,0,0,1,105.62,47a10.07,10.07,0,0,1,3.64-.61q4.15,0,6.27,2.24A8.91,8.91,0,0,1,117.64,55a11.56,11.56,0,0,1-.53,3.63,7.17,7.17,0,0,1-1.59,2.72,7,7,0,0,1-2.63,1.73A10.07,10.07,0,0,1,109.25,63.72Zm-3.45-8.66a11.06,11.06,0,0,0,.79,4.8,2.73,2.73,0,0,0,2.63,1.54,7,7,0,0,0,1.33-.12,3.19,3.19,0,0,0,1-.36,1.17,1.17,0,0,0,.47-.66,7.66,7.66,0,0,0,.35-1.31,15.1,15.1,0,0,0,.22-1.78q.07-1,.07-2.08a10.93,10.93,0,0,0-.8-4.76,2.7,2.7,0,0,0-2.59-1.58,6.54,6.54,0,0,0-1.33.13,3.62,3.62,0,0,0-1.14.43,1.33,1.33,0,0,0-.47.67,6.11,6.11,0,0,0-.33,1.29q-.12.78-.18,1.75T105.81,55.06Z"
                            transform="translate(-34.63 -17.68)" />
                        <path class="cls-1"
                            d="M126.34,75a11.4,11.4,0,0,1-2.81-.3,5.85,5.85,0,0,1-1.87-.79,3,3,0,0,1-1-1.15,3.13,3.13,0,0,1-.31-1.37,3,3,0,0,1,.87-2.17,9.51,9.51,0,0,1,2.28-1.63l1.11.3q-.14.54-.2,1a6.08,6.08,0,0,0-.07,1,2.28,2.28,0,0,0,.77,1.81,3.4,3.4,0,0,0,2.29.67,12.06,12.06,0,0,0,1.4-.08q.69-.08,1.34-.22t1.21-.31a4.85,4.85,0,0,0,.94-.39,1.46,1.46,0,0,0,.69-1,7,7,0,0,0,.15-1.56q0-1.83-3.74-1.83l-2.66,0a8.25,8.25,0,0,1-4.11-.82,2.93,2.93,0,0,1-1.29-2.71,3.08,3.08,0,0,1,.27-1.24,6.08,6.08,0,0,1,.69-1.19,8.47,8.47,0,0,1,.92-1.05l.94-.89a5.89,5.89,0,0,1-1.36-.88,6.16,6.16,0,0,1-1.91-2.93,6.7,6.7,0,0,1-.29-2,6.85,6.85,0,0,1,.56-2.83,6.09,6.09,0,0,1,1.53-2.1A6.78,6.78,0,0,1,125,46.89a8.76,8.76,0,0,1,2.88-.46,17.51,17.51,0,0,1,2.31.14,11.86,11.86,0,0,1,2,.43q1.28-.05,2.73-.2t2.54-.36L137,48.59a6.39,6.39,0,0,1-1.36.3,11.81,11.81,0,0,1-1.49.11,11.83,11.83,0,0,1,.66,1.52,7.33,7.33,0,0,1,.37,2.52,6.75,6.75,0,0,1-.54,2.78,5.71,5.71,0,0,1-1.51,2,6.65,6.65,0,0,1-2.29,1.25,9.37,9.37,0,0,1-2.9.43h-.57l-.65,0c-.22,0-.42,0-.61-.05a3.68,3.68,0,0,1-.47-.09,6.48,6.48,0,0,0-.35.8,2.74,2.74,0,0,0-.19,1,.78.78,0,0,0,.56.79,6.77,6.77,0,0,0,2,.2h3.74a13.08,13.08,0,0,1,2.88.27,4.63,4.63,0,0,1,1.88.85,3.13,3.13,0,0,1,1,1.46,6.53,6.53,0,0,1,.3,2.09,5.92,5.92,0,0,1-.83,2.93,8.84,8.84,0,0,1-2.32,2.63,12.64,12.64,0,0,1-3.53,1.89A13.11,13.11,0,0,1,126.34,75ZM128,57.33a4.5,4.5,0,0,0,1.06-.11,2.78,2.78,0,0,0,.79-.32q.35-.22.58-1.27a12.74,12.74,0,0,0,.23-2.67,8.35,8.35,0,0,0-.16-1.7A4.27,4.27,0,0,0,130,49.9a2.75,2.75,0,0,0-.85-.9,2.18,2.18,0,0,0-1.21-.32,4.4,4.4,0,0,0-1,.09,2.51,2.51,0,0,0-.79.34,2,2,0,0,0-.6,1.27,13.43,13.43,0,0,0-.22,2.7,7.24,7.24,0,0,0,.18,1.63,5.25,5.25,0,0,0,.5,1.36,2.6,2.6,0,0,0,.83.93A2,2,0,0,0,128,57.33Z"
                            transform="translate(-34.63 -17.68)" />
                        <rect class="cls-2" x="22.33" y="31.76" width="6.42" height="5.57" />
                        <path class="cls-3" d="M63.48,55.11H56.86V49.34h6.62Zm-6.42-.2h6.22V49.54H57.06Z"
                            transform="translate(-34.63 -17.68)" />
                        <polygon class="cls-4"
                            points="28.91 19.88 28.91 31.57 28.91 31.66 28.91 31.76 28.91 37.32 31.6 37.32 34.23 34.55 34.23 31.76 34.23 31.66 34.23 31.57 34.23 21.96 32.48 19.88 28.91 19.88" />
                        <path class="cls-3"
                            d="M66.27,55.11H63.44V37.46h3.72l0,0L69,39.61V52.27l0,0Zm-2.63-.2h2.55l2.58-2.71V39.68l-1.7-2H63.64Z"
                            transform="translate(-34.63 -17.68)" />
                        <polygon class="cls-5"
                            points="17 31.57 17 31.66 17 31.76 17 34.22 19.96 37.32 22.17 37.32 22.17 31.76 22.17 31.66 22.17 31.57 22.17 24.3 17 30.55 17 31.57" />
                        <path class="cls-3"
                            d="M56.9,55.11H54.55l0,0-3-3.13V48.2l0,0L56.9,41.7Zm-2.27-.2h2.07V42.26l-5,6v3.59Z"
                            transform="translate(-34.63 -17.68)" />
                        <path class="cls-6"
                            d="M68.94,39.47l-.08-.09-1.53-1.82-.08-.09-.08-.09H63.38V49.25H57V41.53l-.08.09-.08.09L51.64,48l-.08.09-.08.09V52l.08.08.08.08L54.36,55l.09.09.09.09H66.29l.09-.09.09-.09,2.4-2.53.08-.08.08-.08V39.57ZM56.81,49.25V55H54.59l-3-3.1V48.24L56.81,42ZM63.38,55H57V49.44h6.42Zm5.48-5.75v3L66.23,55H63.54V37.56h3.57l1.76,2.08Z"
                            transform="translate(-34.63 -17.68)" />
                        <path class="cls-3"
                            d="M66.31,55.24H54.51l-.19-.2-2.89-3V48.14l.17-.2L57,41.39V49.2h6.32V37.33H67.2l.17.2,1.7,2V52.34l-.17.18Zm-11.75-.1H66.27L69,52.3V39.59l-1.82-2.16H63.43V49.3H56.91V41.67l-.07.08-5.31,6.43V52Zm11.7-.09H63.49V37.51h3.64v0l1.77,2.09V52.25h0ZM63.59,55h2.62l2.61-2.74V39.66l-1.73-2h-3.5Zm-.16.1H56.91V49.39h6.52ZM57,55h6.32V49.49H57Zm-.16.1H54.57v0l-3-3.11V48.22h0l5.26-6.36ZM54.62,55h2.14V42.12l-5.07,6.14v3.63Z"
                            transform="translate(-34.63 -17.68)" />
                        <polygon class="cls-5"
                            points="30.37 0.35 30.33 0.26 2.96 0.26 2.96 8.43 23.78 8.43 30.37 0.35" />
                        <polygon class="cls-5" points="34.29 45.72 34.29 37.56 11.27 37.56 4.6 45.72 34.29 45.72" />
                        <polygon class="cls-2" points="34.77 8.52 34.66 8.52 34.71 8.6 34.77 8.52" />
                        <polygon class="cls-2"
                            points="11.05 37.56 11.13 37.47 11.21 37.37 34.59 8.74 34.53 8.61 34.48 8.52 34.43 8.43 30.46 0.52 24 8.43 23.92 8.52 23.84 8.61 0.35 37.37 0.28 37.46 0.28 37.47 0.32 37.56 0.34 37.56 4.4 45.71 11.05 37.56" />
                        <path class="cls-6"
                            d="M69.44,26.29h-.1l0-.08,0-.09-4-8,.1-.12h-.11l.08-.09h-.11l.08-.09H37.44v8.54H58.26L34.84,55l-.07.09,0,.05,0,0,0,0,0,0,0,0,0,0h0l0,0,1.72,3.46,2.32,4.66,0,.09H69V55.15H46l.08-.09L69.31,26.59l.11-.14,0-.08ZM37.6,17.94H65L65,18l-6.59,8.07H37.6ZM35,55.24h0l0-.09h0l.07-.09L58.48,26.29l.08-.09.08-.09,6.46-7.91,4,7.91,0,.09,0,.09.07.13L45.84,55.06l-.08.09-.08.09L39,63.39Zm33.94,0v8.16H39.24l6.67-8.16Z"
                            transform="translate(-34.63 -17.68)" />
                        <path class="cls-3"
                            d="M69.07,63.58H38.84l-.07-.13-4-8h0l-.07-.16h0l-.08-.17.14-.18L58.1,26.37H37.37V17.68h28l-.08.09h.11l-.08.09h.11l-.16.2,4.1,8.15h.21l-.13.16,0,.08-.14.17L46.14,55.07H69.07Zm-30-.15h0l.05-.07L69.33,26.44l0-.08h0l-.11-.21-4.07-8.09,0,0h-.06v0l0,0-6.62,8.1H37.52V17.87H65l0,0,.05-.06H37.52v8.39h20.9l-.1.12L34.81,55.12l0,0v0l0,0,.07-.09L65.11,18.06l.05.1,4.16,8.27,0,0Zm-.17,0h0l-4-8.11h0v0h0Zm.46-.09H68.85v-8H45.94ZM35,55.17h0l0,0,4,8L69.14,26.41,69,26.14l-3.92-7.8L35,55.16ZM37.67,26h20.7l6.54-8H37.67ZM65,17.93l0,.05,0-.05Z"
                            transform="translate(-34.63 -17.68)" />
                    </svg>
                    <h1>Hello there!</h1>
                    <p>Please enter the username and the email used for your account.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>