<link rel="stylesheet" href="/css/partials/modal.min.css">
<section class="modal-container">
    <input type="checkbox" id="modalOpener" hidden>
    <div class="modal">
        <div class="modal-content">
            <h3 class="modal-title"></h3>
            <p class="modal-body"></p>

            <div class="modal-btns">
                <label for="modalOpener" class="modal-btn modal-close-btn">
                    Cancel
                </label>
                <div class="modal-btn modal-delete-btn">
                    Delete
                </div>
            </div>

        </div>
    </div>
    <div class="modal-overlay"></div>
</section>