/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #00000060;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

#modalOpener:checked ~ .modal-overlay {
  pointer-events: auto;
  opacity: 0.9;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal {
  /* This block centers any box in the browser widow */
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0.5);
  /* block ends here */
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
}

#modalOpener:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.1s;
}

.modal-content {
  display: block;
  padding: 30px;
  background: #fff;
}

.modal-title {
  color: #77c382;
  text-align: center;
  margin-bottom: 10px;
}

.modal-title > svg {
  width: 20px;
  height: 20px;
  transform: translateY(2px);
}

.modal-body {
  margin-bottom: 10px;
}

.modal-social {
  text-decoration: none;
  color: #77c382;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
}

.modal-btn {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 20px;
}

.modal-close-btn {
  border: 1px solid #77c382;
  color: #77c382;

  &:hover {
    background-color: #77c382;
    color: #fff;
  }
}

.modal-delete-btn {
  border-top: 1px solid #f51818;
  border-bottom: 1px solid #f51818;
  color: #f51818;

  &:hover {
    background-color: #f51818;
    color: #fff;
  }
}
